{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Logout</div>
                <div class="card-body">
                    <p>Are you sure you want to logout?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
