{% extends "users/base.html" %}
{% block title %}Scheduled Calls{% endblock title %}
{% block content %}
    <h2>Scheduled Calls</h2>
    {% if appointments %}
        <ul>
            {% for appointment in appointments %}
                <li>
                    Appointment ID: {{ appointment.id }}<br>
                    Date and Time: {{ appointment.date_time }}<br>
                    {% if user.profile.user_type == 'patient' %}
                        <a href="{% url 'book_call' %}" class="btn btn-dark">Book a Call</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No scheduled calls found.</p>
    {% endif %}
{% endblock content %}
